name: "add pr-pull label"

on:
  workflow_run:
    workflows:
    - "brew test-bot"
    types:
    - completed

permissions:
  contents: read

jobs:
  add-label:
    runs-on: ubuntu-24.04

    if: github.event.workflow_run.conclusion == 'success'

    steps:
    - name: "Checkout"
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: "Generate GitHub App Token"
      id: github-app-token
      uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
      with:
        app-id: ${{ secrets.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}

    - name: "Add labels to PRs"
      uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
      with:
        configuration-path: .github/labeler.yaml
        repo-token: ${{ steps.github-app-token.outputs.token }}
        pr-number: ${{ join(github.event.workflow_run.pull_requests.*.number, ' ') }}
        sync-labels: true
