name: "brew pr-pull"

on:
  pull_request_target:
    types:
    - labeled

jobs:
  pr-pull:
    if: contains(github.event.pull_request.labels.*.name, 'pr-pull')

    runs-on: ubuntu-24.04

    permissions:
      contents: write
      packages: write
      pull-requests: write

    steps:
    - name: "Set up Homebrew"
      uses: Homebrew/actions/setup-homebrew@9d95677ac22eae39bdeb2ac8a196adb20a3cedbc # master

    - name: "Set up git"
      uses: Homebrew/actions/git-user-config@9d95677ac22eae39bdeb2ac8a196adb20a3cedbc # master

    - name: "Pull bottles"
      env:
        HOMEBREW_GITHUB_API_TOKEN: ${{ github.token }}
        HOMEBREW_GITHUB_PACKAGES_TOKEN: ${{ github.token }}
        HOMEBREW_GITHUB_PACKAGES_USER: ${{ github.repository_owner }}
        PULL_REQUEST: ${{ github.event.pull_request.number }}
      run: |
        brew pr-pull \
          --debug \
          --tap="$GITHUB_REPOSITORY" \
          --workflows="tests.yaml" \
          "$PULL_REQUEST"

    - name: "Push commits"
      uses: Homebrew/actions/git-try-push@9d95677ac22eae39bdeb2ac8a196adb20a3cedbc # master
      with:
        token: ${{ github.token }}
        branch: master

    - name: "Delete branch"
      if: github.event.pull_request.head.repo.fork == false
      env:
        BRANCH: ${{ github.event.pull_request.head.ref }}
      run: git push --delete origin "$BRANCH"
